
<table class="table table-striped">
  <thead>
    <tr>
      <th>All recipes</th>
      <th>Name</th>
      <th>Comment</th>
    
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= image_tag(recipe.picture_url, :width => 300) if recipe.picture.present?%></td>
        <td><%= recipe.name %></td>
        <td><%= recipe.comment %></td>
        <td><%= link_to 'Show', recipe, class:"btn btn-success"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path, class:"btn btn-success" %>
