<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@recipe.picture_url, :width => 500) if @recipe.picture.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @recipe.explanation %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @recipe.comment %>
</p>

<% if user_signed_in? then %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
